<service>
	<serviceName>navegar</serviceName>
	<serviceDescription>Para navegar sitios de Internet </serviceDescription>
	<creatorEmail>angelrr7702@gmail.com</creatorEmail>
	<serviceCategory>ocio</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Para navegar el Internet, escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra NAVEGAR y el sitio de internet.

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: NAVEGAR http://www.guije.com/

			Debera recibir un email en respuesta con sitio  simplificado.
			Si obmite sitio after NAVEGAR , usaria default sitio www.guije.com
			soporta --noimage opcion para eleminar todas las imagenes. 


		]]>
	</serviceUsage>
</service>
